table{
    width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}
label.fonte{
    font-family: Impact, Charcoal, sans-serif;
}
legend.fonte{
    font-family: Impact, Charcoal, sans-serif;
}
form{
    align
}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}


button[type=submit]{
	border: 2px solid black;
    border-radius: 12px;
    width: 10%;
    background-color: #000;
    color: #fffffff7;
    padding: 7px 15px;
    cursor: pointer;
    text-shadow: -1px 0px 5px white;
    font-weight: 900;
    content: "";

}

button[type=reset]{
	border: 2px solid black;
    border-radius: 12px;
    width: 10%;
    background-color: #000;
    color: #fffffff7;
    padding: 7px 15px;
    cursor: pointer;
    text-shadow: -1px 0px 5px white;
    font-weight: 900;
    content: "";

    clear: both;
    margin: 10px 40px;

}

form div.form-action-buttons{
    text-align: right;

}

a{
    cursor: pointer;
    color: red;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}